.main {
background-color: rgb(230, 237, 242);
    height: 100vh;
    width: 100%;
}

.createPost {
    background-color: white;
    height: 70px;
    width: 100%;
}

.link {
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
    background-color: rgb(255, 94, 0);
}
.home{
     margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
    background-color: rgb(8, 65, 210);
}
.home:hover{
    transform: scale(1.1);


}

.link:hover {
    transform: scale(1.1);
}